.steel { background-color: $steel; }

.fire { background-color: $fire; }

.grass { background-color: $grass; }

.electric { background-color: $electric; }

.water, .ice { background-color: $water-ice; }

.ground { background-color: $ground; }

.rock { background-color: $rock; }

.fairy { background-color: $fairy; }

.poison { background-color: $poison; }

.bug { background-color: $bug; }

.dragon { background-color: $dragon; }

.psychic { background-color: $psychic; }

.flying { background-color: $flying; }

.fighting { background-color: $fighting; }

.normal { background-color: $normal; }